<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅游报单</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="keywords" content="游邮文化,UU"/>
    <meta name="renderer" content="webkit">
    <meta name="renderer" content="ie-comp">
    <meta name="renderer" content="ie-stand">
    <meta name="description" content="游邮文化,UU"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <script src="__PUBLIC__/Home/js/jquery-1.8.1.min.js"></script>
    <script src="__PUBLIC__/Home/js/my.js"></script>
</head>
<body>
<include file="./Common/header"/>
<div class="container_w main_w">
    <div class="container main">
        <include file="./Common/index_left"/>

        <div class="r main_right">
            <div class="main_right_title main_right_title_blue">
                <em></em>
                <span>报单<a href="uu_baodan.html" class="yeji_span"> &gt; 旅游报单</a></span>
            </div>
            <div class="product_right_con baodan_con">
                <dl>
                    <dt><a href="uu_baodan_info.html"><img src="__PUBLIC__/Home/images/1.jpg" alt=""></a></dt>
                    <dd>
                        <a href="uu_baodan_info.html"><上海迪士尼DISNEY-华东五市双飞6日游><br>禅意拈花湾，国际五星...</a>
                        <em class='r'>¥2929.00</em>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="uu_baodan_info.html"><img src="__PUBLIC__/Home/images/1.jpg" alt=""></a></dt>
                    <dd>
                        <a href="uu_baodan_info.html"><上海迪士尼DISNEY-华东五市双飞6日游><br>禅意拈花湾，国际五星...</a>
                        <em class='r'>¥2929.00</em>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="uu_baodan_info.html"><img src="__PUBLIC__/Home/images/1.jpg" alt=""></a></dt>
                    <dd>
                        <a href="uu_baodan_info.html"><上海迪士尼DISNEY-华东五市双飞6日游><br>禅意拈花湾，国际五星...</a>
                        <em class='r'>¥2929.00</em>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="uu_baodan_info.html"><img src="__PUBLIC__/Home/images/1.jpg" alt=""></a></dt>
                    <dd>
                        <a href="uu_baodan_info.html"><上海迪士尼DISNEY-华东五市双飞6日游><br>禅意拈花湾，国际五星...</a>
                        <em class='r'>¥2929.00</em>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="uu_baodan_info.html"><img src="__PUBLIC__/Home/images/1.jpg" alt=""></a></dt>
                    <dd>
                        <a href="uu_baodan_info.html"><上海迪士尼DISNEY-华东五市双飞6日游><br>禅意拈花湾，国际五星...</a>
                        <em class='r'>¥2929.00</em>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="uu_baodan_info.html"><img src="__PUBLIC__/Home/images/1.jpg" alt=""></a></dt>
                    <dd>
                        <a href="uu_baodan_info.html"><上海迪士尼DISNEY-华东五市双飞6日游><br>禅意拈花湾，国际五星...</a>
                        <em class='r'>¥2929.00</em>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="uu_baodan_info.html"><img src="__PUBLIC__/Home/images/1.jpg" alt=""></a></dt>
                    <dd>
                        <a href="uu_baodan_info.html"><上海迪士尼DISNEY-华东五市双飞6日游><br>禅意拈花湾，国际五星...</a>
                        <em class='r'>¥2929.00</em>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="uu_baodan_info.html"><img src="__PUBLIC__/Home/images/1.jpg" alt=""></a></dt>
                    <dd>
                        <a href="uu_baodan_info.html"><上海迪士尼DISNEY-华东五市双飞6日游><br>禅意拈花湾，国际五星...</a>
                        <em class='r'>¥2929.00</em>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="uu_baodan_info.html"><img src="__PUBLIC__/Home/images/1.jpg" alt=""></a></dt>
                    <dd>
                        <a href="uu_baodan_info.html"><上海迪士尼DISNEY-华东五市双飞6日游><br>禅意拈花湾，国际五星...</a>
                        <em class='r'>¥2929.00</em>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="uu_baodan_info.html"><img src="__PUBLIC__/Home/images/1.jpg" alt=""></a></dt>
                    <dd>
                        <a href="uu_baodan_info.html"><上海迪士尼DISNEY-华东五市双飞6日游><br>禅意拈花湾，国际五星...</a>
                        <em class='r'>¥2929.00</em>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="uu_baodan_info.html"><img src="__PUBLIC__/Home/images/1.jpg" alt=""></a></dt>
                    <dd>
                        <a href="uu_baodan_info.html"><上海迪士尼DISNEY-华东五市双飞6日游><br>禅意拈花湾，国际五星...</a>
                        <em class='r'>¥2929.00</em>
                    </dd>
                </dl>
                <!-- <div class="div_text_center yeji_page product_page">
                    <span><</span>
                    <span class='yeji_page_span'>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>6</span>
                    <span>7</span>
                    <span>...</span>
                    <span>54</span>
                    <span>></span>
                    <span>共54页</span>
                </div> -->
            </div>
        </div>
    </div>
</div>
<include file="./Common/footer"/>
</body>
</html>
