<include file="Public:meta"/>

<title>旅游销售提成  </title>
</head>
<body>
<article class="page-container">
    <form class="layui-form" action="{:U('Travel/commission')}" method="post" class="form form-horizontal"
          id="form-change-password">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>订单号：</label>
            <div class="formControls col-xs-8 col-sm-9"> {$order.order_sn}</div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>单人利润：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" lay-verify="required" autocomplete="off" placeholder=""
                       name="profit" id="profit">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input name="id" type="hidden" value="{$order.id}">
                <input lay-submit name="cooperation_bonus" class="btn btn-primary radius" type="submit"
                       lay-filter="user" value="&nbsp;&nbsp;发放&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<include file="Public:footer"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

    layui.use('form', function () {
        var form = layui.form(),
                $ = layui.jquery
        //监听提交
        form.on('submit(user)', function (data) {
            var userInfo = data.field;
            var url = "{:U('Travel/sales_commissions')}";
            $.post(url, userInfo, function (data) {
                if (data.status == 'error') {
                    layer.msg(data.msg, {icon: 5});//失败的表情
                    return;
                } else if (data.status == 'success') {
                    layer.msg(data.msg, {
                        icon: 6,//成功的表情
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function () {
                        layer_close();
                        location.reload();
                    });
                }
            })

            return false;//阻止表单跳转
        });
    });


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>