<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UU册订单</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="keywords" content="游邮文化,UU"/>
    <meta name="renderer" content="webkit">
    <meta name="renderer" content="ie-comp">
    <meta name="renderer" content="ie-stand">
    <meta name="description" content="游邮文化,UU"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <script src="__PUBLIC__/Home/js/jquery-1.8.1.min.js"></script>
    <script src="__PUBLIC__/Home/js/my.js"></script>
</head>
<body>
<include file="Common:header"/>
<div class="container_w main_w">
    <div class="container main">
        <include file="Common:index_left"/>
        <div class="r main_right">
            <div class="main_right_title main_right_title_blue">
                <em></em>
                <span>报单<a href="" class="yeji_span"> &gt; UU册报单</a></span>
            </div>
            <div class="product_right_con baodan_con">
                <div class="kucun_head">
                    <a href="{:U('Home/Uuce/uu_re')}">UU册报单</a>
                    <span>UU册订单</span>
                </div>
                <div class="result record">
                    <table class="result_tab record_tab" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>UU册名称</th>
                            <th>UU报单日期</th>
                            <th>UU册编号</th>
                            <th>数量（册）</th>
                            <th>总价</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        <foreach name="list" item="vo">
                            <tr>
                                <td>
                                    <a href="">{$vo.goods_name}</a>
                                </td>
                                <td>
                                    <span>{$vo.add_time}</span>
                                </td>
                                <td>
                                    <span>{$vo.goods_sn}</span>
                                </td>
                                <td>
                                    <span>{$vo.goods_num} </span>
                                </td>
                                <td>
                                    <span>{$vo.total} </span>
                                </td>
                                <td>
                                    <span><if condition="($vo.pay_status eq 1)">已支付<else/>未付款</if></span>
                                </td>
                                <td>
                                    <if condition="($vo.pay_status eq 0)"><a href="{:U('Order/order_pay',array('order_sn'=>$vo['order_sn'],'total'=>$vo['total'],'type'=>4))}" target="_blank" class="result_a">付款</a><else/>已付款</if>
                                    <em>|</em>
                                    <a href="" class="result_a">删除</a>
                                </td>
                            </tr>
                        </foreach>
                    </table>
                </div>
                <div class="div_text_center yeji_page">
                    {$page}
                    <div class="ye_together">每页10条，共<em>{$yetotal}</em>页</div>
                </div>

            </div>
        </div>
    </div>
</div>
<include file="Common:footer"/>

</body>
</html>
