<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开店报单</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="keywords" content="游邮文化,UU"/>
    <meta name="renderer" content="webkit">
    <meta name="renderer" content="ie-comp">
    <meta name="renderer" content="ie-stand">
    <meta name="description" content="游邮文化,UU"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <script src="__PUBLIC__/Home/js/jquery-1.8.1.min.js"></script>
    <script src="__PUBLIC__/Home/js/validation.js"></script>
    <script src="__PUBLIC__/Home/js/my.js"></script>
</head>
<body>
<include file="Common:header"/>
<div class="container_w main_w">
    <div class="container main">
        <include file="Common:index_left"/>
        <div class="r main_right">
            <div class="main_right_title main_right_title_blue">
                <em></em>
                <span>报单<a href="lvyou_baodan.html" class="yeji_span"> &gt; 旅游报单</a></span>
            </div>
            <form class="main_right_con">
                <div class="reg_con_input_all">
                    <div class="main_right_con1">
                        <h4>在线支付</h4>

                        <div class="reg_con_span edit_con_input reg_mar_l">
                            <span class="online">选择支付银行：</span>
                            <ol>
                                <li class="zhifu1">
                                    <input type="radio" name="radio"/>
                                    <span class="z_span"><i></i></span>
                                    <img src="__PUBLIC__/Home/images/zhifu21.jpg" alt=""/>
                                </li>
                                <li class="zhifu1">
                                    <input type="radio" name="radio"/>
                                    <span class="z_span"><i></i></span>
                                    <img src="__PUBLIC__/Home/images/zhifu22.jpg" alt=""/>
                                </li>
                                <li class="zhifu1">
                                    <input type="radio" name="radio"/>
                                    <span class="z_span"><i></i></span>
                                    <img src="__PUBLIC__/Home/images/zhifu23.jpg" alt=""/>
                                </li>
                                <li class="zhifu1">
                                    <input type="radio" name="radio"/>
                                    <span class="z_span"><i></i></span>
                                    <img src="__PUBLIC__/Home/images/zhifu24.jpg" alt=""/>
                                </li>
                                <li class="zhifu1">
                                    <input type="radio" name="radio"/>
                                    <span class="z_span"><i></i></span>
                                    <img src="__PUBLIC__/Home/images/zhifu25.jpg" alt=""/>
                                </li>
                            </ol>
                        </div>

                    </div>
                </div>
                <div class="online_jg">
                    应付金额：
                    <span>¥ {$total_amount}</span>
                </div>
                <input type="hidden" name="total_amount" value="{$total_amount}">
                <div class="login_bot reg_bot div_text_center reg_btn_font2">
                    <div class="cur login_bot_span_login login_bot_span_reg">立即支付</div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="c container_w login_foot_w">
    <div class="container footer div_text_center">
        Copyright@2013Enterprise information All Rights Reserved 京ICP备 01245785号
    </div>
</div>
</body>
</html>
