<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的库存</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="keywords" content="游邮文化,UU"/>
    <meta name="renderer" content="webkit">
    <meta name="renderer" content="ie-comp">
    <meta name="renderer" content="ie-stand">
    <meta name="description" content="游邮文化,UU"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <script src="__PUBLIC__/Home/js/jquery-1.8.1.min.js"></script>
    <script src="__PUBLIC__/Home/js/my.js"></script>
</head>
<body>
<include file="./Common/header"/>
<div class="container_w main_w" style="height:1258px;">
    <div class="container main">
        <include file="./Common/index_left"/>
        <div class="r main_right">
            <div class="main_right_title main_right_title_blue">
                <em></em>
                <span>我的库存</span>
            </div>
            <div class="main_right_con kucun_con">
                <div class="kucun_con_hx">
                    <div class="l kucun_con_l">
                        <img src="__PUBLIC__/Home/images/kucun1.png" alt="">
                        <span class="kucun_span1">UU册名称</span>
                    </div>
                    <div class="r kucun_con_r">
                        <span  class="kucun_span2">库存：<em>818</em></span>
                    </div>
                </div>
                <div class="kucun_con_hx">
                    <div class="l kucun_con_l">
                        <img src="__PUBLIC__/Home/images/kucun1.png" alt="">
                        <span class="kucun_span1">UU册名称</span>
                    </div>
                    <div class="r kucun_con_r">
                        <span  class="kucun_span2">库存：<em>818</em></span>
                    </div>
                </div>
                <div class="kucun_con_hx">
                    <div class="l kucun_con_l">
                        <img src="__PUBLIC__/Home/images/kucun1.png" alt="">
                        <span class="kucun_span1">UU册名称</span>
                    </div>
                    <div class="r kucun_con_r">
                        <span  class="kucun_span2">库存：<em>818</em></span>
                    </div>
                </div>
                <div class="kucun_con_hx">
                    <div class="l kucun_con_l">
                        <img src="__PUBLIC__/Home/images/kucun1.png" alt="">
                        <span class="kucun_span1">UU册名称</span>
                    </div>
                    <div class="r kucun_con_r">
                        <span  class="kucun_span2">库存：<em>818</em></span>
                    </div>
                </div>
                <div class="kucun_con_hx">
                    <div class="l kucun_con_l">
                        <img src="__PUBLIC__/Home/images/kucun1.png" alt="">
                        <span class="kucun_span1">UU册名称</span>
                    </div>
                    <div class="r kucun_con_r">
                        <span  class="kucun_span2">库存：<em>818</em></span>
                    </div>
                </div>
                <div class="kucun_con_hx">
                    <div class="l kucun_con_l">
                        <img src="__PUBLIC__/Home/images/kucun1.png" alt="">
                        <span class="kucun_span1">UU册名称</span>
                    </div>
                    <div class="r kucun_con_r">
                        <span  class="kucun_span2">库存：<em>818</em></span>
                    </div>
                </div>
                <div class="kucun_con_hx">
                    <div class="l kucun_con_l">
                        <img src="__PUBLIC__/Home/images/kucun1.png" alt="">
                        <span class="kucun_span1">UU册名称</span>
                    </div>
                    <div class="r kucun_con_r">
                        <span  class="kucun_span2">库存：<em>818</em></span>
                    </div>
                </div>
                <div class="kucun_con_hx">
                    <div class="l kucun_con_l">
                        <img src="__PUBLIC__/Home/images/kucun1.png" alt="">
                        <span class="kucun_span1">UU册名称</span>
                    </div>
                    <div class="r kucun_con_r">
                        <span  class="kucun_span2">库存：<em>818</em></span>
                    </div>
                </div>
                <div class="kucun_con_hx">
                    <div class="l kucun_con_l">
                        <img src="__PUBLIC__/Home/images/kucun1.png" alt="">
                        <span class="kucun_span1">UU册名称</span>
                    </div>
                    <div class="r kucun_con_r">
                        <span  class="kucun_span2">库存：<em>818</em></span>
                    </div>
                </div>
                <div class="kucun_con_hx">
                    <div class="l kucun_con_l">
                        <img src="__PUBLIC__/Home/images/kucun1.png" alt="">
                        <span class="kucun_span1">UU册名称</span>
                    </div>
                    <div class="r kucun_con_r">
                        <span  class="kucun_span2">库存：<em>818</em></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<include file="./Common/footer"/>
</body>
</html>
