<include file="Common:nav"/>
<link href="__PUBLIC__/Admin/css/theme.min.css" rel="stylesheet">
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="wrap">
  <div class="common-form">
    <form action="{:U('Admin/backup/import')}" method="post">
    	<div class="table_list">
    	<table width="100%" cellspacing="0" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th align="left">{:L('NAME')}</th>
                    <th>{:L('FILE_SIZE')}</th>
                    <th>{:L('BACKUP_TIME')}</th>
                    <th>{:L('ACTIONS')}</th>
                </tr>
            </thead>
        	<tbody>
            <volist name="backups" id="val">
            <tr class="collapsed">
                <td>
                    <span style="padding-left: 20px" name="{$val.name}" class="expander"></span>
                    {$val.name}
                </td>
                <td>{$val.total_size}kb</td>
                <td>{$val.date_str}</td>
                <td>
                    <a href="{:U('Admin/backup/del_backup', array('backup'=>$val['name']))}"  class="js-ajax-delete">{:L('DELETE')}</a> | 
                    <a href="{:U('Admin/backup/import', array('backup'=>$val['name']))}" class="js-ajax-dialog-btn" data-msg="确定恢复吗？">{:L('RESTORE')}</a>
                </td>
            </tr>
            <volist name="val['vols']" id="vol">
            <tr parent="{$val.name}" class="hide">
                <td>{$vol.file}</td>
                <td>{$vol.size}kb</td>
                <td>{$val.date_str}</td>
                <td>
                    <a href="{:U('Admin/backup/download', array('backup'=>$val['name'], 'file'=>$vol['file']))}">{:L('DOWNLOAD')}</a>
                </td>
            </tr>
            </volist>
            </volist>
        	</tbody>
        </table>
        </div>
    </form>
    </div> 
</div>
<style type="text/css">
.hide{display:none;}
.table_list tr.expanded td .expander{
	background: url(__TMPL__Public/assets/images/tv-collapsable.gif) center center no-repeat;
}
.table_list tr.collapsed td .expander{
	background: url(__TMPL__Public/assets/images/tv-expandable.gif) center center no-repeat;
}
</style>
<script src="__PUBLIC__/js/common.js"></script>
<script>
$(function(){
    $(".show_sub").click(function(){
        $(this).attr("src",function(){
            if(this.src == '__TMPL__Public/assets/images/tv-expandable.gif'){
                return '__TMPL__Public/assets/images/tv-collapsable.gif';
            } else {
                return '__TMPL__Public/assets/images/tv-expandable.gif';
            }
        });
        var sub_id = $(this).attr('sub');
        $("tr[parent='"+sub_id+"']").toggle();
    });
    $('.expander').toggle(function(){
        $(this).parent().parent().removeClass('collapsed').addClass('expanded');
        $('tr[parent="'+$(this).attr('name')+'"]').show();
    },function(){
        $(this).parent().parent().removeClass('expanded').addClass('collapsed');
        $('tr[parent="'+$(this).attr('name')+'"]').hide();
    });
});
</script>
</body>
</html>