<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>开店报单</title>
	<link rel="shortcut icon" href="favicon.ico">
	<meta name="keywords" content="游邮文化,UU"/>
	<meta name="renderer" content="webkit">
	<meta name="renderer" content="ie-comp">
	<meta name="renderer" content="ie-stand">
	<meta name="description" content="游邮文化,UU"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
	<script src="__PUBLIC__/Home/js/jquery-1.8.1.min.js"></script>
	<script src="__PUBLIC__/Home/js/validation.js"></script>
	<script src="__PUBLIC__/Home/js/my.js"></script>
</head>
<body>
<include file="./Common/header"/>
	<div class="container_w main_w">
		<div class="container main">
            <include file="./Common/index_left"/>
			<div class="r main_right">
				<div class="main_right_title main_right_title_blue">
					<em></em>
					<span>报单<a href="" class="yeji_span"> &gt; 开店报单</a></span>
				</div>
				<div class="main_right_con">
					<div class="reg_con_input_all">
						<div class="main_right_con1">
							<h4>申请已提交,审核中...</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="c container_w login_foot_w">
		<div class="container footer div_text_center">
			Copyright@2013Enterprise information All Rights Reserved 京ICP备 01245785号
		</div>
	</div>
	<!-- up_alert-->
</body>
</html>
