
<?php
        $us_menu['pay_status']=0;
        $User=M('member');
        $us_menu=$User->table('think_store S')
        ->join('think_member M on S.user_id=M.id')
        ->field('S.*,M.username,M.nickname')
        ->where('M.id='.$_SESSION['id'])
        ->find();
?>

<div class="l main_left">
    <ul>
        <li class="cur main_left_menu" style="background: #006445;"><a href="">系统菜单</a></li>
        <li onOff='0' class="cur main_left_li_dif main_left_li1">
            <span>人力</span>
            <ol>
                <li><a href="{:U('Home/Member/sys')}">系统架构</a></li>
                <li><a href="{:U('Home/Member/human')}">人力架构</a></li>
            </ol>
        </li>
        <li onOff='0' class="cur main_left_li_dif main_left_li2">
            <span>业绩</span>
            <ol>
                <li><a href="{:U('Home/Bonus/bill')}">账单</a></li>
                <li><a href="{:U('Home/Bonus/storeBonus')}">店铺账单</a></li>
            </ol>
        </li>
        <li class="cur main_left_li3">
            <span><a href="{:U('Home/Uuce/uu_kucun')}">我的库存</a></span>
        </li>
        <li onOff='0' class="cur main_left_li_dif main_left_li4">
            <span>报单</span>
                <ol>
                    <li><a href="{:U('Home/Uuce/uu_re')}">UU册报单</a></li>
                    <li><a href="{:U('Home/Travel/travel_list')}">旅游报单</a></li>
                    <li><a href="{:U('Home/Member/conm_re')}">入职推荐报单</a></li>
                    <?php   if(isset($us_menu)) { ?>
                    <li <if condition="($us_menu.pay_type eq 1 || $us_menu.pay_img neq 0)"> style="display: none"</if> ><a href="{:U('Home/Store/open_offline')}">开店报单</a></li>
                    <php>}</php>
                    <li <if condition="$us_menu.pay_status eq 1"> style="display: none" </if> ><a href="{:U('Home/Member/store')}">开店报单</a></li>
                    <li <if condition="($us_menu.pay_status neq 1)"> style="display: none" </if> ><a href="{:U('Home/Store/store_info')}">店铺信息</a></li>
                </ol>
        </li>
        <li class="cur main_left_li5">
            <span><a href="{:U('Home/Member/userset')}">密码修改</a></span>
        </li>
        <li class="cur main_left_li6">
            <span><a href="{:U('Home/Member/per_info')}">个人信息</a></span>
        </li>

    </ul>
</div>
